
{% extends "jobskill1/base.html"%}


{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="#" method="post">
            <div class="input-group">
                <label for="nombre">Usuario</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <!--RUTA DEL ARCHIVO JS PARA CREAR LAS VALIDACIONES DEL LOGIN-->

    <script src="{% static 'jobskill1/js/gestion1.js' %}" defer></script>
</body>
</html>

{% endblock %}
        