{% extends "jobskill1/base.html"%}

{% load static %}

{% block content %}
<div class="container" style="width: 50%;">
    <form class="form-box" method="get">{% csrf_token %}
    <div class="form-group">
        <label for="tipo_usuario" style="text-align: center;">
            <h5>Para registrar un usuario, por favor, especifique el tipo de usuario que desea crear:</label>
        </h5>
        <br/>
        <select id="tipo_usuario" name="tipo_usuario" style="width: 30%; margin: 0px 35%;">
            <option value="0">Seleccione una opción</option>
            <option value="1">Aspirante</option>
            <option value="2">Empresa</option>
        </select>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary" style="width: 30%; margin: 0px 35%;">Enviar</button>
    </div>
    </form>
</div>
{% endblock %}