
{% extends "paginaEmpresa/base.html"%}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
    <header style="background: #333; color: #fff; padding: 20px 0; text-align: center;">
        <div style="width: 80%; margin: auto; overflow: hidden;">
            <h1>Publicar Nueva Oferta de Empleo</h1>
        </div>
    </header>
    <div style="width: 80%; margin: auto; margin-top: 2%; overflow: hidden;">
        <div class="form-control">
            <form action="" class="form-box" style="margin: 0 10%;" method="POST">{% csrf_token %}

<!--
                <div class="form-group">
                    <label>Título del Empleo:</label><br/>
                    <input style="width: 100%;" type="text" id="" name="titulo" required>
                </div>
                <div class="form-group">
                    <label for="job-description">Descripción:</label><br/>
                    <textarea style="width: 100%;" id="" name="descripcion" required></textarea>
                </div>
                <div class="form-group">
                    <label for="job-requirements">Requisitos:</label><br/>
                    <textarea style="width: 100%;" id="" name="requisitos" required></textarea>
                </div>
                <div class="form-group">
                    <label for="job-benefits">Beneficios:</label><br/>
                    <textarea style="width: 100%;" id="" name="beneficios"></textarea>
                </div>
                <div class="form-group">
                    <label for="application-link">Enlace para Aplicar:</label><br/>
                    <input style="width: 100%;" type="url" id="" name="zelda" required>
                </div><br/>
            -->

                {{form|crispy}}
                <button type="submit" class="btn btn-primary">Publicar Oferta</button>
            </form>
        </div>
    </div>
{% endblock %}
        