{% extends "paginaEmpresa/base.html"%}




{% block content %}

    <div class="container" style="width: 80%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

        <h2>Ofertas Laborales Publicadas</h2>

        {% if not puestos %}
            <div class="card text-start">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Aún no hay puestos ingresados</h4>
                </div>
            </div>           
        {% endif %}

        {% for puesto in puestos %}
        
        <div class="job-box" id="{{puesto.id}}" style="border: 1px solid #ccc; padding: 16px; margin: 16px 0; border-radius: 8px; display: flex; justify-content: space-between; align-items: center; background-color: #f9f9f9;">
            <div class="job-details">
                <div class="job-description">

                </div>
                
                <h1><div class="job-company"><strong>Puesto:</strong> {{puesto.nombrePuesto}}</div></h1>

                <div class="job-company"><strong>Descripcion:</strong> {{puesto.descripcion}}</div>

                <div class="job-company"><strong>Se necesita:</strong> {{puesto.requisitos}}</div>

                <div class="job-location"><strong>Beneficios:</strong> {{puesto.beneficios}}</div>
                
                <div class="job-posted"><strong>Puestos disponibles:</strong> {{puesto.disponibles}}</div>

                <div class="job-posted"><strong>Sueldo base p/semana:</strong> ${{puesto.sueldoBase}}</div>

            </div>
            <div class="job-buttons">
                <a href="/E/solicitud/?id={{puesto.id}}"><i class="btn btn-success">Ver solicitudes</i></a>
                <br><button class="btn btn-success" onclick="window.location.href='{% url 'editar_agregar' %}'">Editar</button>

                <!--
                <i class="fas fa-pencil-alt edit-icon" onclick="editJob('{{puesto.id}}')"></i>
                <i class="fas fa- delete-icon" onclick="deleteJob('{{puesto.id}}')"></i>
                -->
            </div>
        </div>

        {% endfor %}

    </div>

    <script>
        function editCompanyInfo() {
            // Lógica para editar la información de la empresa
            alert("Editar información de la empresa");
        }

        function editJob(jobId) {
            // Lógica para editar la oferta de trabajo
            alert("Editar oferta de trabajo: " + jobId);
        }

        function deleteJob(jobId) {
            // Lógica para eliminar la oferta de trabajo
            var jobBox = document.getElementById(jobId);
            jobBox.remove();
            alert("Oferta de trabajo eliminada: " + jobId);
        }
    </script>

{% endblock %}