{% extends "paginaEmpresa/base.html"%}

{% load static %}

{% block content %}


<div class="container" style="width: 80%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>{{solicitud.postulante.nombre}} {{solicitud.postulante.apellido}} {{solicitud.postulante.apellido2}}</h2>
    <div style="display: inline;">
        <img class="profile profile-img" src="{{solicitud.postulante.foto.url}}" alt="Title" style="width: 30%; height: 30%;"/>
        <a href="{{ solicitud.cv.url }}" target="_blank" class="btn btn-primary"><h5>Ver Currículum Vitae</h5></a>
        <div class="profile-container">
            <p>Nombre: {{ solicitud.postulante.nombre}}</p>
            <p>Dirección: {{ solicitud.postulante.direccion }}</p>
            <p>Teléfono: {{ solicitud.postulante.telefono }}</p>
            <p>Correo Electronico: {{ solicitud.postulante.user.email }}</p>
            <p>Apellido Paterno: {{ solicitud.postulante.apellido }}</p>
            <p>Apellido Materno: {{ solicitud.postulante.apellido2 }}</p>
            <p>Genero: {{ solicitud.postulante.genero }}</p>
            <p>Fecha de Nacimiento: {{ solicitud.postulante.fecha_nacimiento }}</p>
        </div>
        {% if solicitud.aprobado %}
        <div class="card-body">
            <p class="text-secondary"></p>
            <h4 class="text-gradient">Aprobado, puedes contactar al usuario para asegurar detalles: <a href="mailto:{{ solicitud.postulante.user.email }}">{{ solicitud.postulante.user.email }}</a></h4>
        </div>
        {% else %}
        <div class="card-body">
            <p class="text-secondary"></p>
            <form id="aceptar" action="" method="post">{% csrf_token %}
                <button class="btna" type="submit" style="border-color: black;"><h4 class="text-gradient">No aprobado</h4></button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!--Alerta de confirmación al mandar formulario-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.querySelector('.btna').addEventListener('click', function(event) {
        event.preventDefault(); // Prevenir el envío automático del formulario

        Swal.fire({
            title: "¿Seguro que deseas aceptar a este postulante?",
            text: "Esta acción no se podrá deshacer. Asegurate de que sea el que deseas.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, estoy seguro',
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                // Enviar el formulario si el usuario confirma
                document.getElementById('aceptar').submit();
            }
        });
    });
</script>

{% endblock %}
