{% extends "paginaUsuario/base.html" %}

{% load static %}

{% block content %}


<div class="container" style="width: 80%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <br><h1>Notificaciones</h1><br>
    <div id="notification-container"></div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <h2 id="modal-title">Título de la Notificación</h2>
            <p id="modal-message">Mensaje de la notificación</p>
            <button onclick="closeModal()">Cerrar</button>
        </div>
    </div>
</div>
    <script>
        // Función para agregar una notificación
        function addNotification(title, message) {
            const container = document.getElementById('notification-container');

            const notification = document.createElement('div');
            notification.className = 'notification';

            notification.innerHTML = `<strong>${title}</strong>`;

            notification.onclick = () => {
                openModal(title, message);
            };

            container.appendChild(notification);
        }

        // Función para abrir el modal
        function openModal(title, message) {
            document.getElementById('modal-title').innerText = title;
            document.getElementById('modal-message').innerText = message;
            const modal = document.getElementById('modal');
            modal.style.display = 'flex';
        }

        // Función para cerrar el modal
        function closeModal() {
            const modal = document.getElementById('modal');
            modal.style.display = 'none';
        }

        // Iteración sobre solicitudes
        {% for solicitud in solicitudes %}
            addNotification(
                '{{ solicitud.puesto.nombrePuesto|escapejs }} -- {% if solicitud.aprobado %} HAS SIDO APROBADO! {% else %} Aún no aprobado {% endif %}', 
                '{{ solicitud.puesto.descripcion|escapejs }} {% if solicitud.aprobado %} Revisa tu correo o contacta tú a la empresa para saber detalles {{ solicitud.puesto.empresa.user.email }} {% endif %}'
            );
        {% endfor %}
    </script>

{% endblock %}