{% extends "paginaUsuario/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container" style="width: 80%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Postulación de Empleo</h2>
    <div class="container" style="display: flex; flex: 1; width: 100%;">
        <div class="form-container" style="background-color: #ffffff; width: 47%; padding: 2%; border-radius: 10px; margin: 2%;">
            <h3>Formulario de Postulación</h3>
            <form id="postulacion" action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{form|crispy}}
                <input class="btna btn btn-primary" type="submit" value="Enviar Postulación">
            </form>
        </div>
        <div class="info-container" style="background-color: #f1f1f1; width: 47%; padding: 2%; border-radius: 10px; margin: 2%;">
            <h3>Información del Empleo</h3>
            <p>
                <strong>Posición:</strong> {{puesto.nombrePuesto}}<br>
                <strong>Descripción:</strong> {{puesto.descripcion}}<br>
                <strong>Empresa:</strong> {{empresa.nombre}}<br>
                <strong>Salario base:</strong> ${{puesto.sueldoBase}}<br>
                <strong>Ubicación:</strong> {{empresa.direccion}}<br>
                <strong>Contacto:</strong> {{empresa.telefono}}
            </p>
            <p>
                <strong>Beneficios:</strong><br>
                {{puesto.beneficios}}
            </p>
            <p>
                <strong>Requisitos:</strong><br>
                {{puesto.requisitos}}
            </p>
        </div>
    </div>
</div>

<!--Alerta de confirmación al mandar formulario-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.querySelector('.btna').addEventListener('click', function(event) {
        event.preventDefault(); // Prevenir el envío automático del formulario

        Swal.fire({
            title: "¿Seguro que todos los datos son correctos?",
            text: "Esta acción no se podrá deshacer. Asegurate de que no haya errores antes de continuar.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, estoy seguro',
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                // Enviar el formulario si el usuario confirma
                document.getElementById('postulacion').submit();
            }
        });
    });
</script>

{% endblock %}