{% extends "paginaUsuario/base.html"%}


{% load static %}

{% block content %}

<div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Trabajos</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Feed de empleo</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Nueva oferta de trabajo</div>
                                                <div class="small fw-bolder">Electricista</div>
                                                <div class="small text-muted">CFE</div>
                                                <div class="small text-muted">Valle de Santiago, gto.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Buscamos un electricista experimentado para unirse a nuestro equipo.
                                            El candidato ideal será responsable de la instalación, mantenimiento y reparación de sistemas eléctricos en diversos entornos. 
                                            Deberá garantizar que todos los trabajos se realicen de acuerdo con los estándares de seguridad y las regulaciones locales.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Hace 1 mes</div>
                                                <div class="small fw-bolder">Cajera</div>
                                                <div class="small text-muted">ACSA</div>
                                                <div class="small text-muted">Valle de Santiago, gto.</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Buscamos una cajera responsable y amigable para unirse a nuestro equipo en el supermercado.
                                            La persona en este puesto será responsable de brindar un servicio al cliente excepcional, procesar transacciones de manera precisa y eficiente, 
                                            y mantener el área de la caja ordenada.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">Hace 1 mes</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Cocinera</div>
                                                    <div class="small text-muted">Terraza</div>
                                                    <div class="small text-muted">Valle de Santiago, gto.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Se busca una cocinera talentosa y apasionada para unirse a nuestro equipo. 
                                            La persona en este puesto será responsable de preparar
                                             y cocinar una variedad de platos según las especificaciones del menú,
                                             manteniendo altos estándares de calidad y presentación.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">Hace 1 semana</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Persona para limpieza</div>
                                                    <div class="small text-muted">Frac. Jarron Azul</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Valle de Santiago, gto.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div></div>Buscamos personal de limpieza responsable y detallista para mantener la limpieza y el orden en nuestras instalaciones.
                                         La persona en este puesto será responsable de realizar tareas de limpieza diaria, asegurando un entorno seguro y limpio para todos.</div>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
        </main>


{% endblock %}