
{% extends "jobskill1/base.html"%}


{% load static %}

{% block content %}

    <div class="login-container" style="text-align: center;">
        <h2>Inicio de Sesión</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="nombre">Usuario</label>
                <input type="text" id="nombre" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <!--RUTA DEL ARCHIVO JS PARA CREAR LAS VALIDACIONES DEL LOGIN-->

    <script src="{% static 'jobskill1/js/gestion1.js' %}" defer></script>

{% endblock %}
        