
{% extends "jobskill1/base.html"%}


{% load static %}

{% block content %}

    <div class="login-container" style="text-align: center;">
        <h2>Inicio de Sesión</h2>

        <div class="card" style="width: 30%; align-items: center;margin: 2% 35%;">
            <div class="card body">
                <form action="#" method="post" style="margin: 5%;">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="nombre">Usuario</label>
                        <input type="text" id="nombre" name="username" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <br/>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!--RUTA DEL ARCHIVO JS PARA CREAR LAS VALIDACIONES DEL LOGIN-->

    <script src="{% static 'jobskill1/js/gestion1.js' %}" defer></script>

{% endblock %}
        