{% extends "jobskill1/base.html"%}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    <div class="container" style="width: 50%;">
        <form class="form-box" method="post">{% csrf_token %}
            <div class="form-group">
                {{form | crispy}}
                <button type="submit" class="btn btn-primary" style="width: 30%; margin: 0px 35%;">Registrarse</button>
            </div>
        </form>
    </div>
    <script src="{% static 'jobskill1/js/gestion.js' %}" defer></script>
{% endblock %}